.contact {
  @include myFlex();
  background-color: $c-negroni;
  height: 80vh;
  background-image: url(../../../../assets/circle_03.png);
  background-repeat: no-repeat;
  background-position: 700px -200px;
  background-size: 450px;
}
.main-wrapper {
  &_contactparent {
    flex-basis: 190vw;
    margin-right: $space-x-small;
    margin-left: $space-x-large;

    h2 {
      font-size: pxToRem(40);
      margin-left: 1vw;
    }

    p {
      font-size: pxToRem(25);
      margin-left: 1vw;
    }
  }

  &_contactchild1 > input {
    margin: $space-x-small;
    width: 80%;
    padding: $space-small $space-small;
    @include boxShadow(3px 3px 3px 3px $c-gray);
    border-radius: 4px;
    border-style: none;
  }

  &_contactchild2 > input {
    margin: $space-x-small;
    width: 80%;
    padding: $space-small $space-small;
    @include boxShadow(3px 3px 3px 3px $c-gray);
    border-radius: 4px;
    border-style: none;
  }

  &_contactchild3 > textarea {
    margin: $space-x-small;
    width: 80%;
    padding: $space-y-large $space-small $space-y-large;
    @include boxShadow(3px 3px 3px 3px $c-gray);
    border-radius: 4px;
    border-style: none;
  }

  &_contactchild3 > textarea:active {
    text-decoration: none;
    outline: none;
  }
  &_contactchild {
    button {
      cursor: pointer;
      margin: 10px;
      width: 84%;
      padding: $space-small;
      border-radius: 4px;
      @include boxShadow(3px 3px 3px 3px $c-gray);
      background-color: #7371ec;
      color: $c-white;
      font-size: pxToRem(20);
      border-style: none;
    }

    button:active {
      color: $c-black;
      transform: scale(1.1, 1.1);
      border-style: none;
      outline: none;
    }
  }

  &_contactphoto > img {
    height: 20vh;
  }

  &_contactdescr {
    text-align: right;
    margin-right: 5%;
    margin-top: 2%;
    font-size: pxToRem(22);
    width: 90vw;

    p {
      margin: $space-null;
    }
  }
}

.main-info_contact {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 300px;
  max-height: 100px;
  padding: 3% 6% 3% 3%;
  background-color: hsla(0, 0%, 100%, 0.7);
  @include boxShadow(5px 5px 5px 5px $c-gray);
  border-radius: 10px;
  &desc {
    p {
      font-size: pxToRem(22);
    }
  }
  img {
    max-width: 100px;
    max-height: 100px;
  }
}
.wrapper-contact {
  width: 30vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: column;
  margin: 5rem;
}
@media only screen and (max-width: $break-high) {
  .contact {
    @include myFlex();
    background-color: $c-negroni;
    max-height: 600px;
    background-image: url(../../../../assets/circle_03.png);
    background-repeat: no-repeat;
    background-position: 700px -200px;
    background-size: 450px;
  }
  .main-wrapper {
    &_contactdescr {
      width: 50vw;
    }
  }
  .main-info_contact {
    max-width: 600px;
    max-height: 100px;
  }
}

@media only screen and (max-width: $break-laptop) {
  .contact {
    @include myFlex();
    background-color: $c-negroni;
    height: 100vh;
    background-image: url(../../../../assets/circle_03.png);
    background-repeat: no-repeat;
    background-position: 700px -200px;
    background-size: 450px;
  }
  .main-wrapper {
    &_contactdescr {
      width: 90vw;
    }
    &_contactparent {
      margin-right: $space-x-small;
      margin-left: $space-xx-large;

      h2 {
        margin-left: 1vw;
      }

      p {
        margin-left: 1vw;
      }
    }
  }
}

@media only screen and (max-width: $break-mid) {
  .contact {
    @include myFlex();
    background-color: $c-negroni;
    max-height: 500px;
    background-image: url(../../../../assets/circle_03.png);
    background-repeat: no-repeat;
    background-position: 700px -200px;
    background-size: 450px;
  }
  .main-wrapper {
    &_contactchild {
      width: 100%;
      margin: 0;
      margin-bottom: $space-large;
      display: block;
      button {
        margin: 10px;
        width: 96%;
      }
    }
    &_contactchild1,
    &_contactchild2,
    &_contactchild3 {
      width: 100%;
      input {
        width: 90%;
      }
      textarea {
        width: 90%;
      }
    }
    &_contactparent {
      margin-right: $space-x-small;
      margin-left: $space-xx-large;

      h2 {
        font-size: pxToRem(30);
        margin-left: 1vw;
      }

      p {
        font-size: pxToRem(15);
        margin-left: 1vw;
      }
    }
  }
  .main-wrapper_contactdescr {
    p {
      font-size: pxToRem(15);
    }
  }
  .main-info_contact {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 300px;
    max-height: 100px;
    padding: 3% 6% 3% 3%;
    @include boxShadow(5px 5px 5px 5px $c-gray);
    border-radius: 10px;
    &desc {
      p {
        font-size: pxToRem(15);
      }
    }
    img {
      max-width: 70px;
      max-height: 70px;
    }
  }
}

@media only screen and (max-width: $break-mobile) {
  .contact {
    @include myFlex();
    flex-direction: column;
    background-color: $c-negroni;
    max-height: 490px;
    background-image: url(../../../../assets/circle_03.png);
    background-repeat: no-repeat;
    background-position: 700px -200px;
    background-size: 450px;
  }
  .main-wrapper {
    &_contactparent {
      margin-right: $space-xx-large;
      margin-left: $space-xx-large;

      h2 {
        font-size: pxToRem(25);
        margin-left: 1vw;
      }

      p {
        font-size: pxToRem(15);
        margin-left: 1vw;
      }
    }
    &_form {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }
    &_contactchild {
      width: 100%;
      margin: 0;
      margin-bottom: $space-large;
      display: block;
      button {
        margin: 10px;
        width: 95%;
      }
    }
    &_contactchild1,
    &_contactchild2,
    &_contactchild3 {
      width: 100%;
      input {
        width: 90%;
      }
      textarea {
        width: 90%;
      }
    }
    &_contactdescr {
      width: 100vw;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      padding-bottom: 20px;
      padding-top: 20px;
      p {
        font-size: pxToRem(15);
      }
    }
  }
  .main-info_contact {
    margin: auto;
  }
  .wrapper-contact {
    padding: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
  }
}

@media only screen and (max-width: $break-xs) {
  .contact {
    @include myFlex();
    flex-direction: column;
    background-color: $c-negroni;
    max-height: 440px;
    background-image: url(../../../../assets/circle_03.png);
    background-repeat: no-repeat;
    background-position: 700px -200px;
    background-size: 450px;
  }
  .main-wrapper {
    &_contactparent {
      margin-right: $space-x-small;
      margin-left: $space-standard;

      h2 {
        font-size: pxToRem(15);
        margin-left: 1vw;
      }

      p {
        font-size: pxToRem(12);
        margin-left: 1vw;
      }
    }
    &_contactchild {
      width: 100%;
      margin: 0;
      margin-bottom: $space-large;
      display: block;
      button {
        margin: 10px;
        width: 88%;
        font-size: pxToRem(12);
      }
    }
    &_contactchild1,
    &_contactchild2,
    &_contactchild3 {
      width: 100%;
      input {
        width: 80%;
        font-size: pxToRem(12);
      }
      textarea {
        width: 80%;
        font-size: pxToRem(12);
      }
    }
  }

  .main-wrapper_contactdescr {
    p {
      font-size: pxToRem(15);
    }
  }
}
@media only screen and (max-width: 326px) {
  .contact {
    max-height: 450px;
  }
  .main-info_contact {
    margin: auto;
  }
  .main-wrapper {
    &_contactchild {
      button {
        margin: 10px;
        width: 90%;
      }
    }
  }
}
