.upperPart {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: nth($sizes, 12);
    padding-right: 0;
    margin: $space-y-large 0px;
    background-image: url(../../../../assets/circle_02.png),
      url(../../../../assets/devPhoto.jpg);
    background-repeat: no-repeat;
    background-position: -100px 0px, 100px 35px;
    background-size: 200px;
    box-sizing: border-box;
  }
  
  .experience {
    margin-right: $space-large;
    margin-top: $space-standard;
    width: 50vw;
    @include boxShadow(5px 5px 5px 5px $c-gray);
    margin-bottom: $space-null;
    padding: $space-medium $space-medium $space-x-small;
    border-radius: 5px;
    background-color: $c-white-opacity;
    color: $c-black;
    h2 {
      margin-top: $space-null;
      margin-bottom: $space-null;
      padding-bottom: $space-null;
    }
  
    h3 {
      margin-top: $space-null;
      margin-bottom: $space-null;
      padding-bottom: $space-null;
    }
    &__seework {
      @include myFlex();
      justify-content: flex-end;
      margin-top: $space-null;
      img {
        transition: 0.5s transform ease-in-out;
        width: 55px;
        height: 55px;
      }
      img:hover {
        transform: scale(1.2);
      }
    }
  }
  
  .freelanceDescr {
    margin-top: $space-small;
    text-align: right;
    height: 20vh;
    max-width: 30vw;
  
    div {
      display: flex;
      animation-name: hop;
      animation-duration: 1s;
      position: relative;
      animation-iteration-count: 2;
    }
  
    button {
      cursor: pointer;
      width: 90%;
      padding: $space-x-small;
      margin: $space-small;
      background-color: $c-negroni;
      border-radius: 4px;
      border-style: none;
      color: $c-black;
      transition: 0.5s transform ease-in-out;
      transition: 0.5s background-color  ease-in-out;
    }
    button:focus {
      outline: none;
    }
    button:active {
      color: $c-black;
      transform: scale(1.2, 1.2);
    }
    button:hover {
      background-color: rgb(94, 104, 146);
    }
  }
  @media only screen and (max-width: $break-high) {
    .upperPart {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: nth($sizes, 12);
        padding-right: 0;
        height: 600px;
        background-image: url(../../../../assets/circle_02.png),
          url(../../../../assets/devPhoto.jpg);
        background-repeat: no-repeat;
        background-position: -100px 0px, 200px 35px;
        background-size: 300px;
        box-sizing: border-box;
    
        .freelanceDescr {
          margin-top: $space-small;
          margin-right: $space-large;
          text-align: right;
          height: 20vh;
          max-width: 40vw;
    
          h1 {
            font-size: pxToRem(40);
          }
    
          p {
            font-size: pxToRem(30);
          }
    
          button {
            font-size: pxToRem(30);
          }
        }
      }
    
      .experience {
        h2 {
          font-size: pxToRem(40);
        }
    
        h3 {
          font-size: pxToRem(30);
        }
    
        p {
          font-size: pxToRem(25);
        }
      }
    
  }
  @media only screen and (max-width: $break-laptop) {
    .upperPart {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: nth($sizes, 12);
        padding-right: 0;
        max-height: 800px;
        background-image: url(../../../../assets/circle_02.png),
          url(../../../../assets/devPhoto.jpg);
        background-repeat: no-repeat;
        background-position: -100px 0px, 100px 35px;
        background-size: 200px;
        box-sizing: border-box;
    
        .freelanceDescr {
          margin-top: $space-small;
          margin-right: $space-large;
          text-align: right;
          height: 20vh;
          max-width: 30vw;
        }
      }
  }
  @media only screen and (max-width: $break-mid) {
    .upperPart {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: nth($sizes, 12);
        padding-right: 0;
        max-height: 450px;
        background-image: url(../../../../assets/circle_02.png),
          url(../../../../assets/devPhoto.jpg);
        background-repeat: no-repeat;
        background-position: -100px 0px, 100px 35px;
        background-size: 200px;
        box-sizing: border-box;
    
        .freelanceDescr {
          margin-top: $space-small;
          margin-right: $space-large;
          text-align: right;
          height: 20vh;
          max-width: 30vw;
    
          h1 {
            font-size: pxToRem(30);
          }
    
          p {
            font-size: pxToRem(20);
          }
    
          button {
            font-size: pxToRem(20);
          }
        }
      }
    
      .experience {
        h2 {
          font-size: pxToRem(30);
        }
    
        h3 {
          font-size: pxToRem(20);
        }
    
        p {
          font-size: pxToRem(15);
        }
      }
  }
  @media only screen and (max-width: $break-mobile) {
    .upperPart {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: nth($sizes, 12);
        padding-right: 0;
        max-height: 420px;
        background-image: url(../../../../assets/circle_02.png),
          url(../../../../assets/devPhoto.jpg);
        background-repeat: no-repeat;
        background-position: -100px 0px, 50px 35px;
        background-size: 150px;
        box-sizing: border-box;
        .experience {
            h2 {
              font-size: pxToRem(25);
            }
        
            h3 {
              font-size: pxToRem(15);
            }
        
            p {
              font-size: pxToRem(15);
            }
          }
        .freelanceDescr {
          margin-top: $space-small;
          margin-right: $space-large;
          text-align: right;
          height: 20vh;
          max-width: 35vw;
    
          h1 {
            font-size: pxToRem(25);
          }
    
          p {
            font-size: pxToRem(15);
          }
    
          button {
            font-size: pxToRem(15);
          }
        }
      }    
  }
  @media only screen and (max-width: $break-xs) {
    .upperPart {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: nth($sizes, 12);
        padding-right: 0;
        margin: 10px 0;
        max-height: 280px;
        background-image: url(../../../../assets/circle_02.png);
        background-repeat: no-repeat;
        background-position: -100px 0px, 50px 35px;
        background-size: 170px;
        box-sizing: border-box;
        .experience {
            margin: auto;
            margin-top: 20px;
            width: 50vw;
            h2 {
              font-size: pxToRem(15);
            }
        
            h3 {
              font-size: pxToRem(10);
            }
        
            p {
              font-size: pxToRem(10);
            }
        
            .experience__seework {
              @include myFlex();
              justify-content: flex-end;
              margin-top: $space-null;
        
              img:first-of-type {
                width: 35px;
                height: 35px;
                margin-top: $space-xxx-small;
              }
        
              img {
                width: 43px;
                height: 43px;
              }
            }
          }
        .freelanceDescr {
          margin: auto;
          text-align: center;
          max-width: 60vw;
          height: 20vh;
          div {
            display: flex;
            justify-content: center;
          }
    
          h1 {
            font-size: pxToRem(15);
          }
    
          p {
            font-size: pxToRem(10);
          }
    
          button {
            font-size: pxToRem(10);
            margin: 0;
            padding: 0;
          }
        }
      }
  }
  @media only screen and (max-width: $break-xss) {
    .upperPart {
      max-height: 290px;
    }
   
  }