.header {
  @include myFlex();
  justify-content: flex-end;
  background-color: $c-gray-opacity;
  background-image: linear-gradient($c-gray-opacity, $c-white);
  height: 10vh;
  width: 100%;
}

.header > h3 {
  @include myFlex();
  font-size: pxToRem(130);
  align-items: center;
  justify-content: center;
  color: $c-gray-opacity;
  width: 50vw;
  margin-top: $space-null;
  margin-bottom: $space-null;
  padding-top: $space-null;
  padding-bottom: $space-null;
}

.header {
  &__wrapper {
    @include myFlex();
    justify-content: center;
    background-size: cover;
    width: 100%;
    margin: $space-null auto;

    h3 {
      @include myFlex();
      justify-content: flex-start;
      border: 4px dashed $c-black;
    }
  }

  &__nav {
    font-size: pxToRem(25);
    margin: $space-small;
    width: 100%;
    align-items: center;
    background-color: $c-negroni;
    @include myFlex();
    @include createFlex(row, normal, horizontal);
    justify-content: space-around;
    border-radius: 3px;
    margin-right: $space-large;
  }

  &__navLi1 {
    border: 1px solid $c-white;
    height: 50px;
  }

  &__navLi > img {
    transition: transform 0.5s ease-in-out;
    cursor: pointer;
  }

  &__navLi > img:hover {
    transform: scale(1.3, 1.3);
  }

  &__navLi > a:hover {
    font-size: pxToRem(35);
    cursor: pointer;
  }

  &__navLi > a {
    text-decoration: none;
    transition: font-size 0.5s ease-in-out;
  }
}

@media only screen and (max-width: $break-high) {
  .header > h3 {
    @include myFlex();
    font-size: pxToRem(150);
    margin-top: $space-medium;
    padding-top: $space-x-small;
  }

  .header {
    &__nav {
      font-size: pxToRem(25);
      padding: $space-medium;
      margin: $space-small;
    }

    &__navLi1 {
      border: 1px solid $c-white;
      height: 50px;
    }

    &__navLi > img {
      width: 80px;
      transition: transform 0.5s ease-in-out;
      cursor: pointer;
    }

    &__navLi > img:hover {
      transform: scale(1.3, 1.3);
    }

    &__navLi > a:hover {
      font-size: pxToRem(45);
      transition: font-size 0.5s;
    }

    &__navLi > a {
      text-decoration: none;
      font-size: pxToRem(40);
    }
  }
}

@media only screen and (max-width: $break-laptop) {
  .header > h3 {
    @include myFlex();
    font-size: pxToRem(110);
    align-items: center;
    justify-content: center;
    color: $c-gray-opacity;
    width: 40vw;
    margin-top: $space-null;
    margin-bottom: $space-null;
    padding-top: $space-null;
    padding-bottom: $space-null;
  }

  .header {
    &__nav {
      font-size: pxToRem(25);
      padding: $space-medium;
    }

    &__navLi1 {
      border: 1px solid $c-white;
      height: 50px;
    }

    &__navLi > img {
      min-width: 90px;
      transition: transform 0.5s ease-in-out;
      cursor: pointer;
    }

    &__navLi > img:hover {
      transform: scale(1.3, 1.3);
    }

    &__navLi > a:hover {
      font-size: pxToRem(35);
      transition: font-size 0.5s;
    }

    &__navLi > a {
      text-decoration: none;
      font-size: pxToRem(30);
    }
  }
}

@media only screen and (max-width: $break-mid) {
  .header {
    margin-right: 100px;

    &__wrapper {
      @include myFlex();
      justify-content: center;
      background-size: cover;
      width: 70%;
      margin: $space-null;
    }
  }

  .header > h3 {
    font-size: pxToRem(80);
    width: 20vw;
    margin-top: $space-xx-small;
    margin-bottom: $space-xx-small;
    padding-top: $space-xx-small;
    padding-bottom: $space-xx-small;
  }

  .header {
    &__nav {
      width: 60vw;
      font-size: pxToRem(20);
      padding: $space-xxx-small;
      margin-top: $space-small;
    }

    &__navLi1 {
      border: 1px solid $c-white;
      height: 50px;
    }

    &__navLi > img {
      min-width: 30px;
      max-width: 60px;
      transition: transform 0.5s ease-in-out;
      cursor: pointer;
    }

    &__navLi > img:hover {
      transform: scale(1.3, 1.3);
    }

    &__navLi > a {
      text-decoration: none;
      font-size: pxToRem(20);
    }

    &__navLi > a:hover {
      font-size: pxToRem(25);
      transition: font-size 0.5s;
    }
  }
}

@media only screen and (max-width: $break-mobile) {
  .header {
    @include myFlex();
    justify-content: space-around;

    margin-right: 0px;
    box-sizing: border-box;

    &__wrapper {
      @include myFlex();
      justify-content: flex-end;
      background-size: cover;
      width: 70%;
      margin: $space-null;
    }
  }

  .header > h3 {
    font-size: pxToRem(80);
    width: 10vw;
    margin-top: $space-xx-small;
    margin-bottom: $space-xx-small;
    padding-top: $space-xx-small;
    padding-bottom: $space-xx-small;
  }

  .header {
    &__nav {
      width: 60vw;
      padding: $space-xxx-small;
      margin-top: $space-small;
    }

    &__navLi1 {
      border: 1px solid $c-white;
      height: 50px;
    }

    &__navLi > img {
      min-width: 20px;
      max-width: 40px;
      transition: transform 0.5s ease-in-out;
      cursor: pointer;
    }

    &__navLi > img:hover {
      transform: scale(1.3, 1.3);
    }

    &__navLi > a {
      text-decoration: none;
      font-size: pxToRem(20);
    }

    &__navLi > a:hover {
      font-size: pxToRem(25);
      transition: font-size 0.5s;
    }
  }
}

@media only screen and (max-width: $break-xs) {
  .header > h3 {
    display: none;
    justify-content: center;
    font-size: pxToRem(45);
    width: 10vw;
    margin-top: $space-xx-small;
    margin-bottom: $space-xx-small;
    padding-top: $space-xx-small;
    padding-bottom: $space-xx-small;
  }
  .header {
    @include myFlex();
    justify-content: space-around;
    background-color: $c-gray-opacity;
    background-image: linear-gradient($c-gray-opacity, $c-white);
    box-sizing: content-box;
    &__wrapper {
      @include myFlex();
      justify-content: flex-start;
      background-size: cover;
      align-items: center;
      margin: $space-null;
      width: 90%;
    }
    &__nav {
      display: flex;
      justify-content: space-between;
      width: 100vw;
      padding: $space-x-small;
      margin: $space-xxx-small $space-null;
    }

    &__navLi1 {
      border: 1px solid $c-white;
      max-height: 50px;
    }

    &__navLi > img {
      min-width: 10px;
      max-width: 30px;
      transition: transform 0.5s ease-in-out;
      cursor: pointer;
    }

    &__navLi > img:hover {
      transform: scale(1.2, 1.2);
    }

    &__navLi > a {
      text-decoration: none;
      font-size: pxToRem(14);
    }

    &__navLi > a:hover {
      font-size: pxToRem(16);
      transition: font-size 0.5s;
    }
  }
}
