.page{
  &__upper{
    width: 100vw;
    position: fixed;
    left:95%;
    top:50px;
    cursor:pointer;
    .icons{
      font-size: 50px;
      color: #7371ec;
    }
  }
}
.main-upperpartanddownpart {
  background-image: url(../../../../assets/circle_01.png),
    url(../../../../assets/circle_02.png), url(../../../../assets/circle_01.png),
    url(../../../../assets/circle_01.png);
  background-repeat: no-repeat;
  background-position: 250px 350px, 730px 150px, 830px 650px, -250px 800px;
  background-size: 300px, 400px;
}

.main-upperpart {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: nth($sizes, 12);
  padding-right: 0;
  background-image: url(../../../../assets/circle_02.png),
    url(../../../../assets/devPhoto.jpg);
  background-repeat: no-repeat;
  background-position: -100px 0px, 100px 35px;
  background-size: 200px;
  box-sizing: border-box;
}

.main-info {
  margin-right: $space-large;
  margin-top: $space-standard;
  width: 50vw;
  @include boxShadow(5px 5px 5px 5px $c-gray);
  margin-bottom: $space-null;
  padding: $space-medium $space-medium $space-x-small;
  border-radius: 5px;
  background-color: $c-white-opacity;
  color: $c-black;
  h2 {
    margin-top: $space-null;
    margin-bottom: $space-null;
    padding-bottom: $space-null;
  }

  h3 {
    margin-top: $space-null;
    margin-bottom: $space-null;
    padding-bottom: $space-null;
  }
}

.main-info_seework {
  @include myFlex();
  justify-content: flex-end;
  margin-top: $space-null;
  img {
    transition: 0.5s transform ease-in-out;
    width: 55px;
    height: 55px;
  }
  img:hover {
    transform: scale(1.2);
  }
}

.main-photo_rightdescription {
  margin-top: $space-small;
  text-align: right;
  height: 20vh;
  max-width: 30vw;

  div {
    display: flex;
    animation-name: example;
    animation-duration: 1s;
    position: relative;
    animation-iteration-count: 2;
  }

  @keyframes example {
    0% {
      left: 0px;
      top: 0px;
    }
    50% {
      left: 0px;
      top: -10px;
    }
    100% {
      left: 0px;
      top: 0px;
    }
  }

  button {
    cursor: pointer;
    width: 90%;
    padding: $space-x-small;
    margin: $space-small;
    background-color: $c-negroni;
    border-radius: 4px;
    border-style: none;
    color: $c-black;
    transition: 0.5s transform ease-in-out;
  }

  button:focus {
    outline: none;
  }

  button:active {
    color: $c-black;
    transform: scale(1.2, 1.2);
  }
  button:hover {
    background-color: rgb(94, 104, 146);
  }
}

.main-downpart {
  @include myFlex();
  width: 95vw;
  justify-content: space-between;
  align-items: center;
  margin-left: $space-large;
  margin-right: $space-large;
}

.main-photo_belowdescription {
  margin-left: $space-medium;
  margin-top: $space-medium;
  flex-basis: 40vw;
  ul {
    padding-left: 5%;
  }
  p {
    img {
      width: 30%;
      display: inline-block;
      vertical-align: middle;
    }
  }
}

.main-wrapper_bars {
  width: 50vw;
  @include boxShadow(5px 5px 5px 5px #888888);
  margin: $space-standard;
  padding: $space-standard $space-medium $space-medium $space-medium;
  border-radius: 6px;
}

.wrapper-bar {
  @include myFlex();
  width: 80%;
  background-color: $c-twilight-blue;
  border: 1px solid #ccc;
  border-radius: 6px;
  height: 30px;
  margin-bottom: $space-x-small;
  font-size: pxToRem(15);
}

.bar {
  color: $c-nightRider;
  &__displayBlock{
    display:block;
  }
  &__displayNone{
    display:none;
  }
  &__javascript {
    @include bar;
    &--width{
      width: 60%;
      
    }
  }

  &__css {
    @include bar;
    &--width{
      width: 80%;
    }
  }

  &__html {
    @include bar;
    &--width{
      width: 100%;
    }
  }

  &__node {
    @include bar;
    &--width{
      width: 20%;
    }
  }

  &__react {
    @include bar;
    &--width{
      width: 60%;
    }
  }
  &__typescript {
    @include bar;
    &--width{
      width: 40%;
    }
  }
}

.main-toolsworkscontact {
  background-image: url(../../../../assets/circle_01.png),
    url(../../../../assets/circle_01.png), url(../../../../assets/circle_01.png);
  background-repeat: no-repeat;
  background-position: 950px 50px, 750px 450px, -100px 1100px;
  background-size: 300px, 450px;
}
.sticky{
  position: sticky
}


.main-wrapper {
  &_myworks {
    margin-left: $space-standard;
    margin-top: $space-medium;
    width: 90%;
  }

  &_set {
    @include myFlex();
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: $space-large;
    margin-right: $space-large;
  }

  &_setimg {
    border-radius: 4px;
    @include boxShadow(4px 4px 4px 4px $c-gray);
    margin-top: $space-standard;
  }

  &_setimgbit {
    @include myFlex();
    justify-content: flex-end;
    a {
      transition: 0.5s transform ease-in-out;
      width: 15%;
      img {
        width: 100%;
      }
    }
  }
  &_setimgbit {
    a:hover {
      transform: scale(1.2);
    }
  }
}

@media only screen and (max-width: $break-high) {
  .main-upperpart {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: nth($sizes, 12);
    padding-right: 0;
    height: 600px;
    background-image: url(../../../../assets/circle_02.png),
      url(../../../../assets/devPhoto.jpg);
    background-repeat: no-repeat;
    background-position: -100px 0px, 200px 35px;
    background-size: 300px;
    box-sizing: border-box;

    .main-photo_rightdescription {
      margin-top: $space-small;
      margin-right: $space-large;
      text-align: right;
      height: 20vh;
      max-width: 40vw;

      h1 {
        font-size: pxToRem(40);
      }

      p {
        font-size: pxToRem(30);
      }

      button {
        font-size: pxToRem(30);
      }
    }
  }

  .main-info {
    h2 {
      font-size: pxToRem(40);
    }

    h3 {
      font-size: pxToRem(30);
    }

    p {
      font-size: pxToRem(25);
    }
  }

  .main-photo_belowdescription {
    margin-left: $space-medium;
    margin-top: $space-medium;
    flex-basis: 40vw;

    h2 {
      font-size: pxToRem(40);
    }

    h3 {
      font-size: pxToRem(30);
    }

    ul {
      padding-left: 5%;
    }

    p,
    ul {
      font-size: pxToRem(25);

      img {
        width: 30%;
        display: inline-block;
        vertical-align: middle;
      }
    }
  }

  .main-wrapper_bars {
    max-height: 600px;
    min-height: 500px;
    h2 {
      font-size: pxToRem(40);
    }

    p {
      font-size: pxToRem(20);
    }
  }

  
  .main-wrapper {
    &_myworks {
      margin-left: $space-xxx-large;
      margin-top: $space-medium;
      width: 90%;

      h2 {
        font-size: pxToRem(40);
      }

      h3 {
        font-size: pxToRem(30);
      }

      p {
        font-size: pxToRem(25);
      }
    }
  }
}

@media only screen and (max-width: $break-laptop) {
  .main-upperpart {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: nth($sizes, 12);
    padding-right: 0;
    max-height: 600px;
    background-image: url(../../../../assets/circle_02.png),
      url(../../../../assets/devPhoto.jpg);
    background-repeat: no-repeat;
    background-position: -100px 0px, 100px 35px;
    background-size: 200px;
    box-sizing: border-box;

    .main-photo_rightdescription {
      margin-top: $space-small;
      margin-right: $space-large;
      text-align: right;
      height: 20vh;
      max-width: 30vw;
    }
  }
  .main-wrapper_bars {
    max-height: 600px;
    min-height: 500px;
    h2 {
      font-size: pxToRem(40);
    }

    p {
      font-size: pxToRem(20);
    }
  }


}

@media only screen and (max-width: $break-mid) {
  .main-upperpart {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: nth($sizes, 12);
    padding-right: 0;
    max-height: 450px;
    background-image: url(../../../../assets/circle_02.png),
      url(../../../../assets/devPhoto.jpg);
    background-repeat: no-repeat;
    background-position: -100px 0px, 100px 35px;
    background-size: 200px;
    box-sizing: border-box;

    .main-photo_rightdescription {
      margin-top: $space-small;
      margin-right: $space-large;
      text-align: right;
      height: 20vh;
      max-width: 30vw;

      h1 {
        font-size: pxToRem(30);
      }

      p {
        font-size: pxToRem(20);
      }

      button {
        font-size: pxToRem(20);
      }
    }
  }

  .main-info {
    h2 {
      font-size: pxToRem(30);
    }

    h3 {
      font-size: pxToRem(20);
    }

    p {
      font-size: pxToRem(15);
    }
  }

  .main-photo_belowdescription {
    margin-left: $space-medium;
    margin-top: $space-medium;
    flex-basis: 40vw;

    h2 {
      font-size: pxToRem(30);
    }

    h3 {
      font-size: pxToRem(20);
    }

    ul {
      padding-left: 5%;
      font-size: pxToRem(15);
    }

    p {
      font-size: pxToRem(15);

      img {
        width: 30%;
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
  .wrapper-bar {
    font-size: pxToRem(15);
  }

  .main-wrapper_bars {
    max-height: 350px;
    min-height: 300px;
    h2 {
      font-size: pxToRem(30);
    }

    p {
      font-size: pxToRem(15);
    }
  }

 

  .main-wrapper {
    &_myworks {
      margin-left: $space-xxx-large;
      margin-top: $space-medium;
      width: 90%;

      h2 {
        font-size: pxToRem(30);
      }

      h3 {
        font-size: pxToRem(20);
      }

      p {
        font-size: pxToRem(15);
      }
    }
  }
}

@media only screen and (max-width: $break-mobile) {
  .page{
    &__upper{
      width: 100vw;
      position: fixed;
      left:90%;
      top:50px;
    }
  }
  .main-upperpart {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: nth($sizes, 12);
    padding-right: 0;
    max-height: 420px;
    background-image: url(../../../../assets/circle_02.png),
      url(../../../../assets/devPhoto.jpg);
    background-repeat: no-repeat;
    background-position: -100px 0px, 50px 35px;
    background-size: 150px;
    box-sizing: border-box;

    .main-photo_rightdescription {
      margin-top: $space-small;
      margin-right: $space-large;
      text-align: right;
      height: 20vh;
      max-width: 35vw;

      h1 {
        font-size: pxToRem(25);
      }

      p {
        font-size: pxToRem(15);
      }

      button {
        font-size: pxToRem(15);
      }
    }
  }

  .main-downpart {
    @include myFlex();
    width: 95vw;
    justify-content: space-between;
    align-items: center;
    margin-left: $space-null;
    margin-right: $space-null;
  }

  .main-info {
    h2 {
      font-size: pxToRem(25);
    }

    h3 {
      font-size: pxToRem(15);
    }

    p {
      font-size: pxToRem(15);
    }
  }

  .main-photo_belowdescription {
    margin-left: $space-medium;
    margin-top: $space-medium;
    flex-basis: 40vw;

    h2 {
      font-size: pxToRem(25);
    }

    h3 {
      font-size: pxToRem(15);
    }

    ul {
      font-size: pxToRem(15);
      padding-left: 5%;
    }

    p {
      font-size: pxToRem(15);

      img {
        width: 30%;
        display: inline-block;
        vertical-align: middle;
      }
    }
  }

  .main-wrapper_bars {
    h2 {
      font-size: pxToRem(25);
    }

    p {
      font-size: pxToRem(10);
    }
  }

  

  .main-wrapper {
    &_myworks {
      margin-left: $space-xxx-large;
      margin-top: $space-medium;
      width: 90%;

      h2 {
        font-size: pxToRem(25);
      }

      h3 {
        font-size: pxToRem(20);
      }

      p {
        font-size: pxToRem(15);
      }
    }
  }
}

@media only screen and (max-width: $break-xs) {
  .page{
    &__upper{
      width: 100vw;
      position: fixed;
      left:87%;
      top:50px;
      .icons{
        font-size: 30px;
      }
    }
  }
  .main-upperpart {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: nth($sizes, 12);
    padding-right: 0;
    max-height: 280px;
    background-image: url(../../../../assets/circle_02.png);
    background-repeat: no-repeat;
    background-position: -100px 0px, 50px 35px;
    background-size: 170px;
    box-sizing: border-box;
    .main-photo_rightdescription {
      margin: auto;
      text-align: center;
      max-width: 60vw;
      height: 20vh;
      div {
        display: flex;
        justify-content: center;
      }

      h1 {
        font-size: pxToRem(15);
      }

      p {
        font-size: pxToRem(10);
      }

      button {
        font-size: pxToRem(10);
        margin: 0;
        padding: 0;
      }
    }
  }

  .main-downpart {
    @include myFlex();
    width: 95vw;
    justify-content: space-between;
    align-items: center;
    margin-left: $space-null;
    margin-right: $space-null;
  }

  .main-info {
    margin: auto;
    margin-top: 20px;
    width: 50vw;
    h2 {
      font-size: pxToRem(15);
    }

    h3 {
      font-size: pxToRem(10);
    }

    p {
      font-size: pxToRem(10);
    }

    .main-info_seework {
      @include myFlex();
      justify-content: flex-end;
      margin-top: $space-null;

      img:first-of-type {
        width: 35px;
        height: 35px;
        margin-top: $space-xxx-small;
      }

      img {
        width: 43px;
        height: 43px;
      }
    }
  }
  .main-downpart {
    @include myFlex();
    max-width: 90vw;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: $space-small;
    margin-right: $space-small;
  }
  .main-photo_belowdescription {
    margin-left: $space-small;
    margin-right: $space-small;
    margin-top: 0;
    flex-basis: 40vw;

    h2 {
      font-size: pxToRem(15);
    }

    h3 {
      font-size: pxToRem(10);
    }

    ul {
      font-size: pxToRem(10);
      padding-left: 5%;
    }

    p {
      font-size: pxToRem(10);

      img {
        width: 30%;
        display: inline-block;
        vertical-align: middle;
      }
    }
  }

  .main-wrapper_bars {
    max-width: 90vw;
    min-width: 60vw;
    h2 {
      font-size: pxToRem(15);
    }

    p {
      font-size: pxToRem(10);
    }
  }
  .wrapper-bar {
    font-size: pxToRem(10);
  }
  

  .main-wrapper {
    &_myworks {
      margin-left: $space-standard;
      margin-top: $space-medium;
      width: 80%;

      h2 {
        font-size: pxToRem(15);
      }

      h3 {
        font-size: pxToRem(12);
      }

      p {
        font-size: pxToRem(10);
      }
    }
    &_set {
      .main-wrapper_setimg {
        max-width: 270px;
        img {
          max-width: 270px;
        }
      }
    }
  }
}
@media only screen and (max-width: 320px) {
  .main-upperpart {
    max-height: 290px;
  }
 
}
