@import '../../variables';
@import '../../mixins';
@import '../../fonts';
@import '../../global';

@import './components/section';
@import './components/header';
@import './components/buttons';
@import './components/blog';
@import './components/contacts';